html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#map {
    width: 100vw;
    height: 100vh;
}

.navbar {
    height: 5.5vh
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}

.inputForm {
    position: absolute;
    border-radius: 10px;
    top: 100px;
    left: 100px;
    width: 20vw;
    height: 60vh;
    z-index: 1001;
}